---
layout: default 
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp"><b><font size="+9">WINTER SCHOOL OF AI <br> AND ROBOTICS</font></b></h1>
          <p class="animated fadeInUp"><font size="+3">Taught with love by Technology Robotix Society, IIT Kharagpur</font></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2><font size="+5">Objectives</font></h2>
          </div>
          <p><font size="+2">The Winter School of AI and Robotics, organised by Technology Robotix Society in association with Center of Artificial Intelligence, IIT Kharagpur, is a groundbreaking venture aimed to develop the skills of the students on campus in 3 crucial verticals namely; Computer Vision, Embedded Systems and IoT, and Machine Learning.</font></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2><font size="+5">OVERVIEW</font></h2>
      <p><font size="+2">The Winter School will be spanning through 2 weeks of December and will be conducted in 2 phases, each of a week’s duration. Students who are a part of the NCC/NSS workshop can attend it, while those looking forward to attend 2 verticals can do so too.
<p>The programme will be majorly divided into 3 verticals:
<ul style="list-style-type:circle;">
	<li>Computer Vision</li>
	<li>Embedded Systems and IoT</li>
	<li>Machine Learning</li>
</ul>
</p>
<p>
	</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Journey So Far</h2>
        <p> Feedback of Winter Workshop conducted in 2018. A successful learning experience for you, and for us.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/P11" alt="Img">
        </div>
      </div>
      
      <div class="col-sm-6 col-md-3">

      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/P12" alt="Img">
        </div>
      </div>   
      
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Please fill the Google Form below to register for the Winter School</h2>
          <p>
          	
          </p>
          <a class="btn btn-default btn-call-to-action" href="#" >Register Here!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>TESTIMONIALS</h2>
        <p>
        	
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
