---
layout: default 
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp"><b><font size="+9">WINTER SCHOOL OF AI <br> AND ROBOTICS</font></b></h1>
          <p class="animated fadeInUp"><font size="+3">Co-sponsored by Centre for Excellence in Artificial Intelligence, IIT Kharagpur </font></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2><font size="+5">Objectives</font></h2>
          </div>
          <p><font size="+2">The Winter School of AI and Robotics is a groundbreaking venture by Technology Robotix Society in association with Centre for Artificial Intelligence, IIT Kharagpur and sponsored by IEEE. As a school focused on real-life applicatons, aided by a plethora of problem statements, it develops the firsthand skills of sudents and prepares them for industrial usage of advanced concepts in three core verticals.</font></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2><font size="+5">OVERVIEW</font></h2>
      <p><font size="+2">The Winter School spans across the first half of December and will be conducted in two phases, both of a week long duration. All three verticals will be taught in both phases. Students who have the mandatory EAA camps in the first week of December can attend the second phase of the workshop. Interested students can attend both phases. Students can only study one vertical in one phase. 

<p>The School will be divided into 3 core verticals namely Computer Vision, Autonomous Robotics and IoT, and Machine Learning. While Computer Vision and Autonomous Robotics are for both first and second years, Machine Learning is exclusively for second years. Experts on these verticals from around the world will also be giving guest lectures on hot topics in today's industry!
	<br> 
Refer to the syllabus for more details.
<!-- <ul style="list-style-type:circle;">
	<li>Computer Vision</li>
	<li>Embedded Systems and IoT</li>
	<li>Machine Learning</li>
</ul> -->
</p>
<p>
	</p>
      <a href="{{ site.baseurl }}/work" class="btn btn-view-works">Syllabus</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Schedule</h2>
        <p>The final dates for the Winter School are here!</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-12">
        <div class="service-item">
          <p><font size="+2" style="text-align:left">
The final dates for Winter School '19 are -
<br>
<br>
PHASE 1: 28th November to 4th December 
<br>
PHASE 2: 5th December to 11th December
<br>
<br>
The Winter School Test, a mandatory sitting for all those attending the Winter School, has already been held on 4th and 5th November '19. The results will be out shortly!
<br>
<br>
So buckle up, and put your thinking caps on! Book your tickets accordingly, and don't miss this chance to learn and innovate!
</p>
        </div>
      </div>
      
      <!-- <div class="col-sm-6 col-md-3">

      </div>
 -->
      <!-- <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/P12" alt="Img">
        </div>
      </div>   --> 
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Registrations for Winter School Test are now closed. Results will be out shortly!</h2>
          <p>
          	
          </p>
          <a class="btn btn-default btn-call-to-action" href="https://bit.ly/2pXs8KI" >Registration</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>TESTIMONIALS</h2>
        <p>
        	
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
