<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="https://www.facebook.com/robotixiitkgp/?eid=ARCCpcAskQBClFHTrJkZfR1sxpKmQlsJqoQ_MBmSpKnHJ2IlhctHRQcDsGm5mJNSCgEUkyhcOIVy9b3o">Facebook Page</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="{{ site.baseurl }}/work">Syllabus</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdgydANWhFiwKH0MaBw9FjxW7jO1G3Y-a_bDnxi9-BIjKDTRA/viewform?usp=sf_link">Registration</a></li>
            <li><a href="https://2020.robotix.in/">Our Website</a></li>
          </ul>
        </div>
        <p>Copyright 2021 &copy; Designed &amp; Developed by <a href="http://www.robotix.in">Team Robotix</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
