#contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-box {
    width: clamp(100px, 90%, 1000px);
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-links, .contact-form-wrapper {
    width: 50%;
    padding: 5% 0% 2% 0%;
  }
  
  
  .contact-links {
    border-radius: 10px 0 0 10px;
  }
  
  .contact-form-wrapper {
    border-radius: 0 10px 10px 0;
  }

  .contact-links ul {
    list-style: none;
    margin-left: 0;
    font-size: 1.05em;
    font-weight: bold;
}

.contact-links ul li a {
    text-decoration: none;
    color: #35393C;
}

.contact-links ul li a:hover {
    color: rgb(53, 129, 184);
}

.contact-links ul li {
    margin: 25px 9px;
    height: 25px;
}

.contact-links ul li i {
    margin-right: 20px;
}

.horizontal-align li{
    display: inline-block;
}
  @media only screen and (max-width: 960px) {
    .contact-links, .contact-form-wrapper {
      width: 100%;
    }
    
    .contact-links {
      border-radius: 10px 10px 0 0;
    }
    
    .contact-form-wrapper {
      border-radius: 0 0 10px 10px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .contact-box {
      width: 95%;
      margin: 8% 5%;
    }
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .link {
    margin: 10px;
    cursor: pointer;
  }
    
  .form-item {
    position: relative;
  }
  
  
  label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
  }
  
  input, textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
  }
  
  input:focus+label, 
  input:valid+label, 
  textarea:focus+label, 
  textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
  }
  
  .submit-btn {
    background-color: rgb(53, 129, 184);
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  
  .submit-btn:hover {
    transform: scale(1.1, 1.1);
  }
  
  .submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
 

  @media screen and (max-width: 515px) {
    .contact-links ul {
      /* width: 300px; */
      font-size: 0.85em;
  }    
  .contact-links ul li {
    margin: 25px 6px;
}
  }
  @media only screen and (max-width: 400px) {
    
    .links {
      padding-top: 30px;
    }
    
    .link i {
      width: 38px;
      height: 38px;
    }
    .contact-links ul {
      font-size: 0.7em;
  }
  }

  @media only screen and (max-width: 339px) {
    .contact-links ul {
      font-size: 0.5em;
  }   
  .contact-links ul li {
    margin: 10px 1px;
}
  }